/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

//* Materialize */
@import "materialize/components/color-variables";
$primary-color: color("grey", "darken-4") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "base") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
@import 'materialize';

/*******************************************
 common
*******************************************/
.container {
  width: 90%;
  padding-top: 18px;
}

.btn {
  border-radius: 8px;
}
nav a:hover,
a.btn:hover,
.load-more a:hover {
  text-decoration: none;
}


a:hover {
  opacity: 0.7;
  transition: background-color .2s ease-out;
  text-decoration: underline;
}

.parallax-container {
  height: 360px;
}

/*******************************************
 heading
*******************************************/
.content-heading {
  font-size: 22px;
  font-weight: 700;
}
/*******************************************
 icon
*******************************************/
.genre {
  li {
    display: inline-block;
    margin: 0px 4px 4px 0px;
    padding: 6px 8px;
    line-height: 1em;
    border-radius: 12px;
    font-size: 11px;
    color: grey;
    background-color: #EEE;
  }
}

.organizer {
  padding: 3px;
  font-size: 12px;
  font-weight: 700;
  color: #b71c1c;
  border: 2px solid #b71c1c;
  border-radius: 18px;
  i {
    vertical-align: bottom;
    margin-right: 2px;
    font-size: 20px;
  }
}

/*******************************************
 link
*******************************************/
.load-more {
  line-height: 2.4;
  background-color: #DDD;
  a {
    display: inline-block;
    width: 100%;
    color: #666;
  }
}
.load-more:hover {
  background-color: #CCC;
}

.pagination {
  .active {
    padding: 0px 10px;
    line-height: 30px;
    border-radius: 3px;
    color: white;
  }
  .disabled {
    color: #BBB;
  }
}

/*******************************************
 btn
*******************************************/
.follow-relation {
  .is-active {
    color: #333;
    background-color: #DDD;
  }
  .is-active:before {
    content: "フォロー中";
  }
  .is-active:hover {
    color: #FFF;
    background-color: red;
  }
  .is-active:hover:before{
    content: "解除";
  }
  .is-inactive:before {
    content: "フォロー";
  }
  a {
    display: inline-block;
    width: 100%;
  }
}
.home .follow-relation a {
  font-size: 12px;
  padding: 0px 10px;
}

.participate-btn,
.clip-btn {
  padding: 0px;
  .btn {
    width: 100%;
  }
}

.participate-btn {
  margin-bottom: 8px;
  .btn {
    background-color: #1E88E5;
  }
  .is-active {
    color: #333;
    background-color: #DDD;
  }
  .is-active:before {
    content: "参加中";
  }
  .is-active:hover {
    background-color: red;
  }
  .is-active:hover:before{
    color: #FFF;
    content: "キャンセル";
  }
  .is-inactive:before {
    content: "参加";
  }
}

.clip-btn {
  .btn {
    color: #111;
    background-color: #FFFF00;
  }
  .is-active {
    background-color: #DDD;
  }
  .is-active:before {
    content: "クリップ中";
  }
  .is-active:hover {
    color: #FFF;
    background-color: red;
  }
  .is-active:hover:before{
    content: "解除";
  }
  .is-inactive:before {
    content: "クリップ";
  }
}

/*******************************************
 error
*******************************************/
#error_explanation {
  margin-bottom: 20px;
  padding: 0px 20px;
  color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 6px;
  li {
    margin-left: 20px;
    list-style: disc;
  }
}

/*******************************************
 nav
*******************************************/
nav {
  .nav-wrapper {
    padding: 0px 12px;
    background-color: #fff;
  }
  .logo,
  ul a {
    height: 64px;
    color: #1a237e;
  }
  .logo {
    font-size: 2.1rem;
  }
  .name {
    display: inline-block;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.breadcrumbs {
  height: 32px;
  line-height: 32px;
  .breadcrumb {
    font-size: 12px;
  }
  .breadcrumb:before {
    font-size: 20px;
    margin: 2px 8px 0 8px;
  }
}

.notice,
.alert {
  padding-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .navbar-fixed {
    height: 0px;
  }
  nav {
    bottom: 0px;
    .nav-wrapper {
      padding: 0px 12px;
      background-color: #1a237e;
    }
    .logo {
      color: #fff;
    }
    ul li a {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100px;
      color: #fff;
    }
    i.responsive {
      display: block;
      font-size: 40px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin-right: 0px;
    }
    span.responsive {
      display: block;
      font-size: 10px;
      height: 14px;
      line-height: 8px;
      text-align: center;
    }
    .name {
      width: 70px;
    }
  }
  .page-footer {
    margin-bottom: 64px;
  }
}

/*******************************************
 sidebar
*******************************************/
#sidebar {
  padding: 10px 20px 20px 20px;
  border-top: 5px solid #212121;
  .mypage_nav,
  .event_nav {
    i {
      vertical-align: bottom;
      color: #009688;
    }
    li {
      margin: 16px 0px 0px 20px;
      line-height: 20px;
      a {
        display: inline-block;
        padding: 0px 0px 2px 6px;
      }
    }
  }
  .event_nav {
    border-top: 1px solid #ddd;
    li {
      margin-left: -10px;
    }
  }
  .event_info {
    .date {
      margin: 16px;
      font-size: 18px;
      font-weight: 700;
    }
  }
  .location {
    padding: 10px 0px;
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;
    text-align: center;
    font-size: 14px;
    i {
      vertical-align: bottom;
      color: #009688;
      font-size: 18px;
    }
  }
  .btn-group {
    margin: 16px 0px;
  }
}

/*******************************************
 user
*******************************************/
.user,
.userList {
  .names {
    margin-bottom: 6px;
    line-height: 20px;
    i, 
    .name, 
    .login_name {
      vertical-align: bottom;
    }
    i {
      padding-top: 4px;
      font-size: 29px;
      color: #333;
    }
    .name {
      display: inline-block;
      margin: 0px 8px 0px 3px;
      font-weight: 700;
      font-size: 20px;
    }
    .login_name {
      display: inline-block;
      padding-bottom: 1px;
      color : #666;
    }
  }
  .follow {
    margin-left: 4px;
    a {
      display: inline-block;
      margin-right: 16px;
    }
  }
}

.user {
  padding: 24px 42px;
  .info {
    margin-bottom: 0px;
    padding: 18px 0px;
    border-bottom: 1px solid #DDD;
  }
  .label {
    font-weight: 700;
  }
  .genre {
    margin: 4px 0px;
  }
}
.userList {
  margin-bottom: 5px;
  .info:first-child {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
  }
  .names {
    .name {
      font-size: 16px;
      a {
        display: inline-block;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .genre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.following_user_activity {
  .date {
    color: #666;
    font-size: 12px;
  }
}

/*******************************************
 event
*******************************************/
.eventList {
  .card-content {
    padding: 12px 24px;
  }
  .date {
    padding: 6px 0px;
    background-color: #EEE;
    font-size: 14px;
  }
  .year {
    color: #333;
  }
  .participation .current {
    line-height: 2;
    font-size: 22px;
    font-weight: 700;
  }
  .participation {
    .btn-group {
      margin-top: 16px;
      .btn {
        width: 116px;
        height: 24px;
        padding: 0;
        line-height: 24px;
        font-size: 12px;
      }
    }
  }

  .info {
    border-bottom: 1px solid #DDD;
  }
  .venue {
    color: #888;
    i {
      font-size: 13px;
    }
  }
  .title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    i {
      margin-bottom: 4px;
      vertical-align: bottom;
      color: #009688;
    }
  }
  .title,
  .venue,
  .genre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1200px) {
  .eventList {
    .card-content {
      padding: 0px 11px 8px 11px;
    }
    .date {
      margin-bottom: 12px;
    }
    .year::after,
    .target::before {
      content: "/ "
    }
    .year, 
    .day,
    .current,
    .target {
      display: inline-block;
    }
    .current {
      margin-right: 3px;
    }
    .participation {
      .btn-group {
        margin: 0px;
      }
    }
    .info {
      text-align: center;
    }
  }
}
@media only screen and (min-width: 1201px) {
  .eventList {
    .card-content {
      display: flex;
      align-items: center;
    }
    .date {
      margin-right: 12px;
      padding: 24px 0px;
    }
    .day {
      line-height: 2;
      font-size: 22px;
      font-weight: 700;
    }
    .info {
      padding-left: 12px;
      margin-right: 12px;
      border-bottom: none;
      border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
    }
  }
}

.event {
  padding: 20px; 
  h3,
  h4 {
    font-size: 18px;
  }
  h3 {
    margin: 0px 0px 16px 0px;
    padding: 10px 10px;
    border-radius: 4px;
    color: #FFF;
    background-color: #1a237e;
  }
  h4 {
    margin-bottom:20px;
    padding: 12px 4px;
    border-bottom: 3px solid #1a237e;
  }
  table {
    width: 98%;
    margin: 1%;
  }
  th {
    background-color: #eee;
  }
  td,
  th {
    text-align: center;
    border: 1px solid #ddd;
  }
  p {
    line-height: 1.8;
  }
}

/*******************************************
 form
*******************************************/
.user_form .require label:first-child::before,
.event_form .require label:first-child::before {
  content: "(*必須)　";
  color: red;
  font-weight: 700;
}
.user_form #user_profile {
  height: 120px;
}
.event_form #event_description {
  height: 200px;
}
.user_form {
  margin-bottom: 10px;
  .actions {
    margin-top: 10px;
  }
}