/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

//* Materialize */
@import "materialize/components/color-variables";
$primary-color: color("grey", "darken-4") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "base") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
@import 'materialize';
@import '_spacing';

.container {
  width: 1220px;
  padding-top: 18px;
}

.btn {
  border-radius: 8px;
}

.content-heading {
  font-size: 22px;
  font-weight: 700;
}

#sidebar {
  padding: 10px 20px 20px 20px;
  border-top: 5px solid #212121;
}

nav {
  .nav-wrapper {
    padding: 0px 12px;
  }
  .brand-logo,
  ul a {
    color: #1a237e;
  }
}
.breadcrumbs {
  height: 32px;
  line-height: 32px;
  .breadcrumb {
    font-size: 12px;
  }
  .breadcrumb:before {
    font-size: 20px;
    margin: 2px 8px 0 8px;
  }
}

.parallax-container {
  height: 360px;
}

.load-more {
  line-height: 2.4;
  background-color: #DDD;
  a {
    display: inline-block;
    width: 100%;
    color: #666;
  }
}
.load-more:hover {
  background-color: #CCC;
}

.eventList {
  .card-content {
    padding: 12px 24px;
  }
  .date {
    margin-right: 12px;
    padding: 24px 0px;
    background-color: #EEE;
  }
  .year,
  .time {
    font-size: 14px;
    color: #333;
  }
  .day,
  .participation .current {
    line-height: 2;
    font-size: 22px;
    font-weight: 700;
  }
  .participation {
    .btn-group {
      margin-top: 16px;
      .btn {
        height: 24px;
        padding: 0;
        line-height: 24px;
        font-size: 12px;
      }
      .participate-btn {
        padding: 0px;
        .btn {
          width: 100%;
          margin-right: 10px;
        }
        .is-active {
          background-color: blue;
        }
        .is-active:before {
          content: "参加中";
        }
        .is-active:hover {
          background-color: red;
        }
        .is-active:hover:before{
          content: "キャンセル";
          letter-spacing: 0px;
          font-size: 11px;
        }
        .is-inactive:before {
          content: "参加";
        }
      }
    }
  }

  .info {
    padding-left: 12px;
    margin-right: 12px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
  }
  .venue {
    color: #888;
    i {
      font-size: 13px;
    }
  }
  .title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .genre {
    li {
      display: inline-block;
      color: grey;
      line-height: 1em;
      background-color: #EEE;
      border-radius: 12px;
      padding: 6px 8px;
      margin-right: 4px;
      font-size: 11px;
    }
  }
}

.follow-relation {
  .is-active {
    background-color: blue;
  }
  .is-active:before {
    content: "フォロー中";
  }
  .is-active:hover {
    background-color: red;
  }
  .is-active:hover:before{
    content: "フォロー解除";
  }
  .is-inactive:before {
    content: "フォロー";
  }
}