#sidebar.card.grey.lighten-4
  .box.searchCondition
    = form_with url: search_events_path, method: :get, local: true do |f|
      .input-field
        = f.text_field :keyword, id:"keyword", class:"validate", placeholder:"ポップス 天神 椎名林檎", value: (params[:keyword] if params[:keyword])
        label for="keyword" 検索キーワード
      .input-field
        = f.select :region, {都道府県を選択: "", 福岡: "福岡",}, selected: (params[:region] if params[:region])
        label エリア
      .input-field
        = f.text_field :gig_date, class:"datepicker", placeholder:"From", value: (params[:gig_date] if params[:gig_date])
        label for="keyword" 開催日
      .searchCondition-button.center-align
        = f.submit "絞り込む", class:"btn"
javascript:
  $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
  $(document).ready(function(){
    $('select').formSelect();
  });
  $(document).ready(function(){
    $('.datepicker').datepicker({
      i18n:{
        months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        weekdaysShort: ["日", "月", "火", "水", "木", "金", "土"],
        weekdaysAbbrev: ["日", "月", "火", "水", "木", "金", "土"],
        done: "決定",
        clear: "クリア",
        cancel: "キャンセル"
      },
      showClearBtn: true,
      autoClose: true,
      format: "yyyy年mm月dd日(ddd)"
    });
  });
